.search-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#search-form {
  width: 100%;
  max-width: 700px;
  background: #2a2f3b;
  border: 2px #2a2f32 solid;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.5em;
}
#search-form input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 14px 10px;
  color: #fff;
}
#search-form input:focus {
  background: transparent;
}
::placeholder {
  color: #fff;
}
.search-btn i {
  font-size: 20px;
  color: #fff;
}
.search-btn {
  border: 0;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: transparent;
}
